<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>DASS 42 Test</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" href="components/css/bootstrap.min.css"/>
    <style>
        .btn.btn-default {
            margin-left: 5px;
            outline: none;
        }
        .container.bg-image img{
            width: 100%;
        }
        .btn.btn-default,
        .btn:active,
        .btn:focus {
            background-color: inherit;
        }
        #hideMe {
            margin-top: 10%;
        }
        blockquote {
            min-height: 125px;
        }
    </style>
    <script>
        var answerCount = 1;
        var currentProgress = 3;
        function updateProgressBar() {
            if (answerCount == 42) {
                document.getElementById("progressbar").className = "progress-bar progress-bar-success";
                document.getElementById("result").hidden = false;
            }
            else {
                answerCount++;
                currentProgress += (1 / 42 * 100);
                document.getElementById("progressbar").style.width = (currentProgress) + '%';
            }
        }
    </script>
</head>

<body>
<div class="navbar navbar-default">
    <div class="navbar-inner">
        <ul class="nav navbar-brand">
            <a href="#">DASS 42</a>
        </ul>
    </div>
</div>

<div class="container" ng-controller="DassQuestionsControllers" ng-cloak>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="hideMe">
            <div class="progress">
                <div class="progress-bar progress-bar-primary"
                     id="progressbar"
                     style="width: 0.5%" role="progressbar">
                </div>
            </div>

            <blockquote>
                <p class="text-center" ng-init="setQuestion()">{{selectedQuestion}}</p>
                <footer class="text-center">{{count}}</footer>
            </blockquote>
            <hr/>
            <!--<h2 class="text-center thumbnail" ng-init="setQuestion()">{{selectedQuestion}}</h2><br/>-->
            <p class="text-center" style="margin-top: 10px;">
                <button class="btn btn-default" onclick="updateProgressBar()" ng-click="nextQuestion(0);">0</button>
                <button class="btn btn-default" onclick="updateProgressBar()" ng-click="nextQuestion(1)">1</button>
                <button class="btn btn-default" onclick="updateProgressBar()" ng-click="nextQuestion(2)">2</button>
                <button class="btn btn-default" onclick="updateProgressBar()" ng-click="nextQuestion(3)">3</button>
            </p>
            <hr/>
        </div>
    </div>

    <div class="row" id="result" hidden="hidden">
        <h1 class="text-center text-success">Result</h1>

        <div class="col-md-6 col-md-offset-3">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Depression</th>
                        <th class="text-center">Anxiety</th>
                        <th class="text-center">Stress</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <td class="text-center" ng-bind-html="depression()"></td>
                        <td class="text-center" ng-bind-html="anxiety()"></td>
                        <td class="text-center" ng-bind-html="stress()"></td>
                    </tr>
                    </tbody>
                </table>

                <br/>
            </div>
        </div>

    </div>
    <p class="text-center">
        <button class="btn btn-toolbar btn-lg" onclick="window.location.reload()">Retake</button>
    </p>

</div>

<!-- bg image -->
<hr/>
<div class="container bg-image text-center">
    <img src="typings/logo.png" alt="Katherine Jewett"/>
</div>

<script src="components/angular.min.js"></script>
<script src="components/angular-sanitize.js"></script>
<script src="modules/app.js"></script>
<script src="controllers/DassController.js"></script>
<script src="services/DassData.js"></script>

</body>
</html>